<dev class="bg-gray-800 text-white">
  <header class="w-full h-20 justify-center pt-5">
    <div>
      <h1 class="h-full h-full flex justify-center text-2xl items-center">
        Typing Game
      </h1>
    </div>
  </header>
  <dev class="h-full w-full">
    <div class="h-auto w-full flex justify-center">
      <button
        class="bg-blue-500 w-36 h-10 transition hover:bg-blue-600"
        id="startBtn"
        +
        type="button"
      >
        Start
      </button>
    </div>
  </dev>
</dev>
